<div class="navbar">
    {{#if user}}
        <div class="left_side">
            <a href="/" class="users_href"><i class="fa fa-comments fa-2x" aria-hidden="true"></i>
            <a href="/users" class="users_href">users</a>
            <h3>{{user.first_name}}</h3>
            <a href="/logout">logout</a>
        </div>
        <div class="right_side"></div>
    {{/if}}

    {{#unless user}}
        <div class="right_side">
            <a href="/" class="users_href"><i class="fa fa-comments fa-2x" aria-hidden="true"></i></a>
            <a href="/new-user" class="users_href">Register</a>
            <form action="/login" method="post">
                <input class="focus" type="text" placeholder="Email..." name='email'>
                <input class="focus" type="password" placeholder="password..." name='password'>
                <button type="submit">Login</button>
                <a href="/auth/google" class="google_plus"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
           </form>
       </div>
   {{/unless}}
</div>
