<ul class="users_list">
  {{#each users}}
   <div class="each_user" >
        <li>First Name: {{this.first_name}}</li>
        <li>Email: {{this.local.email}}</li>
        <button class="chat" data-email='{{this.local.email}}'>chat</button>
    </div>
  {{/each}}
</ul>
<div class="name" style="display: none;" data-name='{{user.local.email}}'></div>
<div>
    Write a message to everyone:
</div>
<form>
    Message:<input type="text" id='m'>
    <button type="submit">Send</button>
</form>

<ul id="messages">
</ul>
    private Message to send:<input type="text" id='private'>


<ul id="private_messages">

</ul>
<script src="/js/users.js"></script>
