

.users_href {
    text-decoration: none;
    font-size: 1.5rem;
    color:black;
    font-family: cursive;
    font-weight: 600;

}

.funny_image{
    margin-top: 5rem;
    display: flex;
    flex: 1;
    background:url(../images/Livechat.jpg) 50% 50%;
    background-size: cover;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;

}
