
.users_list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    flex-direction: column;
    width:100%;
    list-style-type: none;
    background-color: #6bb5ff;
    color: black;
    font-family: cursive;
    font-size: 1.3rem;
    border-radius: 5px;
    flex-wrap: wrap;
}

.edit_button {
    max-width: 15%;
    min-width: 15%;
    font-family: cursive;
    text-decoration: none;
    color:black;

}

.button_div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0.8rem;
}

.each_user {
    display: flex;
    width:50%;
    background-color: beige;
    border-radius: 5px;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;

}
